@use 'global';
body {
  background-color: global.$bodyBackground;
  font-family: 'Calibri';
}

.formfields {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.event-item {
  background-color: IndianRed;
  color: whitesmoke;
  padding: 3px;
  margin-bottom: 10px;
}

.date-input {
  color: black;
  font-weight: bold;
}
.error {
  color: indianred;
}
