@use 'global';
body {
  background-color: global.$bodyBackground;
  font-family: 'Calibri';
}

.formfields {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.event-item {
  background-color: IndianRed;
  color: whitesmoke;
  padding: 3px;
  margin-bottom: 10px;
}

.event-keywords {
  display:inline;
}

.keyword-array-element {
  margin-right:5px;
  display:inline;
}


.date-input {
  color: black;
  font-weight: bold;
}
.error {
  color: indianred;
}

.main_navigation {
  padding:10px;
  border-color:1px solid hotpink;
}

.main_navigation a {
  background-color:CornflowerBlue;
  padding:5px;
  color:lightcyan;
  margin:10px;
  text-decoration: none;
  transition: all 300ms ease;
}

.main_navigation a:hover {
  background-color: RoyalBlue;
}
